<div class="grid-container">
  <div class="quadrant1">
    <div id="sector__link1" class="sector__link">
      <div class="sector__link__badge">1</div>
    </div>
    <div id="sector__link2" class="sector__link">
      <div class="sector__link__badge">2</div>
    </div>
    <div id="sector__link3" class="sector__link">
      <div class="sector__link__badge">3</div>
    </div>
  </div>

  <div class="quadrant2">
    <div id="sector__link5" class="sector__link">
      <div class="sector__link__badge">5</div>
    </div>
    <div id="sector__link6" class="sector__link">
      <div class="sector__link__badge">6</div>
    </div>
    <div id="sector__link7" class="sector__link">
      <div class="sector__link__badge">7</div>
    </div>
    <div id="sector__link8" class="sector__link">
      <div class="sector__link__badge">8</div>
    </div>
    <div id="sector__link9" class="sector__link">
      <div class="sector__link__badge">9</div>
    </div>
    <div id="sector__link10" class="sector__link">
      <div class="sector__link__badge">10</div>
    </div>
    <div id="sector__link11" class="sector__link">
      <div class="sector__link__badge">11</div>
    </div>
    <div id="sector__link12" class="sector__link">
      <div class="sector__link__badge">12</div>
    </div>
  </div>


  <div class="quadrant3">
    <div id="sector__link14" class="sector__link">
      <div class="sector__link__badge">14</div>
    </div>
  </div>

  <div class="quadrant4">
    <div id="sector__link15" class="sector__link">
      <div class="sector__link__badge">15</div>
    </div>
  </div>

  <div class="quadrant5">
    <div id="sector__link4" class="sector__link">
      <div class="sector__link__badge">4</div>
    </div>
    <div id="sector__link13" class="sector__link">
      <div class="sector__link__badge">13</div>
    </div>
  </div>

</div>

{{!-- Start making event listeners for each of sector views in the script tag below --}}

<script>
  {

    let sector1 = document.getElementById('sector__link1');
    let sector2 = document.getElementById('sector__link2');
    let sector3 = document.getElementById('sector__link3');
    let sector4 = document.getElementById('sector__link4');
    let sector5 = document.getElementById('sector__link5');
    let sector6 = document.getElementById('sector__link6');
    let sector7 = document.getElementById('sector__link7');
    let sector8 = document.getElementById('sector__link8');
    let sector9 = document.getElementById('sector__link9');
    let sector10 = document.getElementById('sector__link10');
    let sector11 = document.getElementById('sector__link11');
    let sector12 = document.getElementById('sector__link12');
    let sector13 = document.getElementById('sector__link13');
    let sector14 = document.getElementById('sector__link14');
    let sector15 = document.getElementById('sector__link15');


    sector1.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/api/sector1View"

    });

    sector2.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/api/sector2View"
    });

    sector3.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/api/sector3View"
    });

    sector4.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/api/sector4View"
    });

    sector5.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/api/sector5View"
    });

    sector6.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/api/sector6View"
    });

    sector7.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/api/sector7View"
    });

    sector8.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/api/sector8View"
    });

    sector9.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/api/sector9View"
    });

    sector10.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/api/sector10View"
    });

    sector11.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/api/sector11View"
    });

    sector12.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/api/sector12View"
    });

    sector13.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/api/sector13View"
    });

    sector14.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/api/sector14View"
    });

    sector15.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/api/sector15View"
    });
  }
</script>