<div class="container">

        <h1>Welcome to the Stock Yard</h1>
        <div class="row">

        <div class="column1 left">

          <h2>Icons</h2>
          <button id="stackIcon" class="stack"></button>
          <button id="panelIcon" class="panel"></button>
          <button id="cornerIcon" class="corner"></button>

          <form id="panelForm" class="submission-form" style="visibility: hidden;">
            <label for="size">Size:</label>
            <input type="text" name="size" autocomplete="off">
            <label for="tieStrips">Tie Strips:</label>
            <input type="text" name="tieStrips" autocomplete="off">
            <label for="linerType">Liner Type:</label>
            <input type="text" name="linerType" autocomplete="off">
            <label for="dowels">Dowels:</label>
            <input type="checkbox" name="dowels" autocomplete="off">
            <label for="r6">R6:</label>
            <input type="checkbox" name="r6" autocomplete="off">
            <label for="bigTies">Big Ties:</label>
            <input type="checkbox" name="bigTies" autocomplete="off">
            <label for="wall">Wall:</label>
            <input type="text" name="wall" autocomplete="off">
            <input type="submit" value="Send">

          </form>
{{!-- 
          <form id="cornerForm" class="submission-form">
            <label for="size">Size:</label>
            <input type="text" name="size">
            <label for="tieStrips">Tie Strips:</label>
            <input type="text" name="tieStrips">
            <label for="linerType">Liner Type:</label>
            <input type="text" name="linerType">
            <label for="dowels">Dowels:</label>
            <input type="text" name="dowels">
            <label for="wall">Wall:</label>
            <input type="text" name="wall">
            <input type="submit" value="Send">
          </form>
         --}}
        </div>
        <div class="column2 right">

          <h2>Storage Space</h2>

          <h2>The Well</h2>
          <div id="well0" class="well"></div>

    </div>
  </div>
</div>

