<script>
  {
    $(function () {
      $('.tool').draggable();
    });

    $(function () {
      $('well').draggable();
    })

    $(function () {
      let cloneId = 0;

      $("#stackIcon").click(function () {
        $("#stackIcon")
          .clone()
          .appendTo("#well0")
          .draggable({
            cancel: false,
            containment: "document"
          })
          .attr('class', 'stack created')
          .attr('id', 'id' + cloneId++)
          .droppable();
      })
    });


    //submit panels to the panels collection, assigns panelIconClone as 
    //the id to clones when they are put in well
    $(function () {
      $("#panelIcon").click(function () {
        $("#panelIcon")
          .clone()
          .appendTo("#well0")
          .draggable({ cancel: false })
          .attr('id', 'panelIconClone')
          .droppable()
          .css("visibility", "hidden");

        //code that makes the panel clone visible in the well
        //and hides the dataForm so you can't add another panel clone 
        //without selecting the panel icon
        let dataForm = document.getElementById('dataForm');
        let well = document.body.children[1].children[1].children[1].children[2];
        dataForm.addEventListener('submit', () => {
          well.lastElementChild.style.visibility = "visible";
          dataForm.style.visibility = "hidden";
        })
      })
    });

    $(function () {
      $("#cornerIcon").click(function () {
        $("#cornerIcon").clone().appendTo("#well0").draggable({ cancel: false });
      })
    });

    $(function () {
      let flag = false;
      $('#panelIcon').click(function () {
        if (flag === false) {
          $("#dataForm").css("visibility", "visible");
        } else {
          $("#dataForm").css("visibility", "hidden");
          flag = false;
        }
      })
    })
  }
</script>



<div class="container">

  <h1>Welcome to the Stock Yard</h1>
  <div class="row">

    <div class="column1 left">

      <h2>Icons</h2>

      <form id="stackIcon" name="stackIcon" class="stack" action="/api/stack" method="POST" onsubmit="return false;"
        target="stackSaved">
        <input type="hidden" name="left" value="">
        <input type="hidden" name="top" value="">
      </form>
      {{!-- A hack to keep the page from redirecting to each saved stack. Saves the stack information sent back --}}
      <iframe id="stackIframe" name="stackSaved" display="none"
        style="width:0; height:0; border:0; border:none"></iframe>
      <iframe id="panelIframe" name="panelSaved" display="none"
        style="width:0; height:0; border:0; border:none"></iframe>

      {{!-- These can't be forms if I want to nest them in the stack forms
      Make them divs? --}}
      <div id="panelIcon" class="panel"></div>
      <div id="cornerIcon" class="corner"></div>

      <form id="dataForm" name="dataForm" class="submission-form" action="/api/panel" method="POST" target="panelSaved"
        style="visibility: hidden;">

        <label for="size">Size:</label>
        <input type="text" name="size" autocomplete="off" required="required">
        <label for="tieStrips">Tie Strips:</label>
        <input type="text" name="tieStrips" autocomplete="off" required="required">
        <label for="linerType">Liner Type:</label>
        <input type="text" name="linerType" autocomplete="off" required="required">
        <label for="dowels">Dowels:</label>
        <input type="checkbox" name="dowels" autocomplete="off">
        <label for="r6">R6:</label>
        <input type="checkbox" name="r6" autocomplete="off">
        <label for="bigTies">Big Ties:</label>
        <input type="checkbox" name="bigTies" autocomplete="off">
        <label for="wall">Wall:</label>
        <input type="text" name="wall" autocomplete="off">
        <input type="submit" value="Send">
      </form>

    </div>
    <div class="column2 right">

      <h2>Storage Space</h2>

      <h2>The Well</h2>
      <div id="well0" class="well"></div>

    </div>

    <nav id="context-menu" class="context-menu">
      <ul class="context-menu__items">
        <li class="context-menu__item">
          <div class="context-menu__link view">
            <i class="fa fa-eye"></i> View Stack
          </div>
        </li>
        <li class="context-menu__item">
          <div class="context-menu__link edit">
            <i class="fa fa-edit"></i> Edit Stack
          </div>
        </li>
        <li class="context-menu__item">
          <div class="context-menu__link delete">
            <i class="fa fa-trash"></i> Delete Stack
          </div>
        </li>
      </ul>
    </nav>

  </div>
</div>

<script>

  let well = document.body.children[1].children[1].children[1].children[2];
  let wellChildrenElements = document.body.children[1].children[1].children[1].children[2].children;

  //<-------------------------- start of Stacks ----------------------->

  let stackItemClassName = 'dropped'
  let menu = document.querySelector("#context-menu");
  let menuState = 0;
  let activeClassName = "context-menu--active";
  let menuPosition;
  let menuPositionX;
  let menuPositionY;
  let menuWidth;
  let menuHeight;
  let windowWidth;
  let windowHeight;
  let clickCoords;
  let clickCoordsX;
  let clickCoordsY;
  let rightClickedStack;


  //Saves the position of the elements dragged into the sector view
  //Also makes every element in the sector a member of .saveSector
  document.addEventListener('click', (event) => {
    if (event.target !== well) return;
    let sectorElementsArray = [...wellChildrenElements];
    if (sectorElementsArray.length === [].length) {
      console.log("No stacks in the Yard");
    }
    else {
      for (let index = 0; index <= sectorElementsArray.length - 1; index++) {
        let dragposition = {
          left: sectorElementsArray[index].style.left,
          top: sectorElementsArray[index].style.top
        };
        if (sectorElementsArray[index].classList.contains('stack')) {
          sectorElementsArray[index].classList.add("dropped");
          sectorElementsArray[index].classList.add("saveSector");
          sectorElementsArray[index].children[0].value = dragposition.left;
          sectorElementsArray[index].children[1].value = dragposition.top;

        } else {
          sectorElementsArray[index].classList.add("saveSector");
          sectorElementsArray[index].style.left = dragposition.left;
          sectorElementsArray[index].style.top = dragposition.top;
        }
      }
    }
  });

  //Saves a newly created stack by left-clicking on stack
  document.addEventListener('click', (event) => {
    if (!event.target.classList.contains('dropped')) {
      return;
    } else {
      event.target.submit();
      alert('The stack is saved')
    }
  });

  //get the stacks in the sector from the database
  window.addEventListener('load', (event) => {
    let xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        //.parse() converts the response to a JS object
        let stacks = JSON.parse(xhttp.responseText);
        stacks.forEach((stack, index) => {
          let well = document.body.children[1].children[1].children[1].children[2];
          let form = document.createElement('form');
          form.setAttribute('id', stack._id);
          form.setAttribute('name', 'stackIcon');
          form.setAttribute('class', 'stack created draggable droppable dropped');
          form.setAttribute('action', `/api/stack/${stack._id}`);
          form.setAttribute('method', 'GET');
          form.setAttribute('onsubmit', 'return false;');
          form.setAttribute('target', 'stackSaved');
          let leftInput = document.createElement('input');
          leftInput.setAttribute('type', 'hidden');
          leftInput.setAttribute('name', 'left');
          leftInput.setAttribute('value', stack.leftPosition);
          let topInput = document.createElement('input');
          topInput.setAttribute('type', 'hidden');
          topInput.setAttribute('name', 'top');
          topInput.setAttribute('value', stack.topPosition);
          let idInput = document.createElement('input');
          idInput.setAttribute('type', 'hidden');
          idInput.setAttribute('name', '_id');
          idInput.setAttribute('value', stack._id);
          form.appendChild(leftInput);
          form.appendChild(topInput);
          form.appendChild(idInput);
          form.style.left = stack.leftPosition;
          form.style.top = stack.topPosition;

          //Keeps the hidden input values from being added to the GET req
          //$('form > input:hidden').attr("disabled", true);

          //makes the stacks from storage droppable and 
          //brings their panels into position
          $(form).droppable({
            tolerance: "touch",
            drop: function (event, ui) {
              $(event.target).append(ui.draggable);
              let blueStack = $(this).offset();
              let panel = ui.draggable.offset();
              let left_end = blueStack.left - panel.left;
              let top_end = blueStack.top - panel.top + 2;
              ui.draggable.animate({
                top: '+=' + top_end,
                left: '+=' + left_end
              }, 0);
              let droppedPanelId = ui.draggable.data('id');
              console.log(this)
              console.log('The dropped panel Id is: ' + droppedPanelId);
              if (event.target.classList.contains('hasPanels')) {
                return;
              } else {
                event.target.classList += ' hasPanels';
              }
            }
          })
          well.appendChild(form);
        });
      }
    };

    xhttp.open("GET", "http://localhost:3000/api/stacks", true);
    xhttp.send();
  });

  //deletes a stack from the sector
  document.addEventListener('click', (event) => {
    if (!event.target.classList.contains('delete')) {
      return;
    } else {
      let xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          let deletedStack = JSON.parse(xhttp.responseText);
          console.log(deletedStack);
          location.reload();
        }
      }
      xhttp.open("DELETE", "http://localhost:3000/api/stack/" + rightClickedStack.id, true);
      xhttp.send();
    }
  });


  // <-------------------start of Context Menu ------------------------>

  //the controller for stack context menu
  document.addEventListener('contextmenu', (e) => {
    rightClickedStack = clickInsideElement(e, stackItemClassName)
    if (rightClickedStack) {
      e.preventDefault();
      toggleMenuOn();
      positionMenu(e);
    } else {
      toggleMenuOff();
    }
  });

  function clickInsideElement(e, className) {
    let el = e.target;

    if (el.classList.contains(className)) {
      return el;
    } else {
      while (el = el.parentNode) {
        if (el.classList && el.classList.contains(className)) {
          return el
        }
      }
    }
    return false;
  }


  function toggleMenuOn() {
    if (menuState !== 1) {
      menuState = 1;
      menu.classList.add(activeClassName);
    }
  }

  function toggleMenuOff() {
    if (menuState !== 0) {
      menuState = 0;
      menu.classList.remove(activeClassName);
    }
  }

  //closes the stack context menu with a left click
  document.addEventListener('click', (event) => {
    let button = event.button;
    if (button === 0) {
      toggleMenuOff();
    }
  })

  //escapes the stack context menu (Esc button)
  window.addEventListener('keyup', (event) => {
    if (event.keyCode === 27) {
      toggleMenuOff();
    }
  });

  //gets the position of the right click on the document
  function getPosition(e) {
    let posx = 0;
    let posy = 0;

    if (!e) {
      let e = window.event;
    }

    if (e.pageX || e.pageY) {
      posx = e.pageX;
      posy = e.pageY;
    } else if (e.clientX || e.clientY) {
      posx = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
      posy = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
    }

    return {
      x: posx,
      y: posy
    }
  }

  //positions the stack context menu
  function positionMenu(e) {
    clickCoords = getPosition(e);
    clickCoordsX = clickCoords.x;
    clickCoordsY = clickCoords.y;

    menuWidth = menu.offsetWidth + 4;
    menuHeight = menu.offsetHeight + 4;

    windowWidth = window.innerWidth;
    windowHeight = window.innerHeight;

    if ((windowWidth - clickCoordsX) < menuWidth) {
      menu.style.left = windowWidth - menuWidth + "px";
    } else {
      menu.style.left = clickCoordsX + "px";
    }

    if ((windowHeight - clickCoordsY) < menuHeight) {
      menu.style.top = windowHeight - menuHeight + "px";
    } else {
      menu.style.top = clickCoordsY - 120 + "px";
    }
  }

  window.addEventListener('onresize', () => {
    toggleMenuOff();
  });

  //<---------------------- end of Context Menu ----------------------->
  //<----------------------end of Stacks ------------------------------>

  //<----------------------start of Panels ---------------------------->

  //resets the dataForm when it has been submitted
  //so you can enter another panel's data
  let dataForm = document.getElementById('dataForm');
  dataForm.addEventListener('submit', () => {
    setTimeout(() => {
      dataForm.reset();
    }, 100)
  })


  //pulls the panel data (id from the res) from the panelIframe and 
  //gives the panel clone its id created by the database. Only applies
  //to the FIRST CLICK since we immediately change it's id
  document.addEventListener('click', (event) => {
    if (event.target.id !== 'panelIconClone') {
      return;
    } else {
      let data = document.getElementById('panelIframe').contentDocument.documentElement.textContent
      data = JSON.parse(data);
      event.target.id = data._id;

      //add a class here panelIdentified to event.target
      event.target.classList += ' panelIdentified'

      //change the position property of the element
      event.target.position = "absolute";
      event.target.top = '2px';
      event.target.left = '0px';

      //makes .panelIdentified draggable and sends the id of the panel
      //to the stack it is dropped on
      $('.panelIdentified').draggable({
        start: function (event) {
          let id = event.target.id;
          $(event.target).data('id', id)
        }
      })
      console.log(event.target);
    }
  })


  document.addEventListener('click', (event) => {
    if (!event.target.classList.contains('hasPanels')) {
      return;
    } else {
      let panelArray = [];
      let panelIdArray = [];
      panelArray = [...event.target.children];
      panelArray = panelArray.filter((element) => {
        if (element.classList.contains('panel')) {
          return element;
        }
      });
      panelArray.forEach((panel) => {
        panelIdArray.push(panel.id);
        console.log(panelIdArray)
        event.target.panel = panelIdArray;
        console.log(event.target.panel)
      })
    }
  })




  //<----------------------end of Panels ------------------------------>
</script>