<nav>
  <ul>
    <li class="menu__item">Link</li>
    <li class="menu__item">Link</li>
    <li class="menu__item">Link</li>
    <li class="menu__item">Link</li>
    <li class="menu__item">Link</li>
    <li class="menu__item">Link</li>
    <li class="menu__item">Link</li>
    <li class="menu__item">Link</li>
    <li class="menu__item">Link</li>
    <li class="menu__item">Link</li>
    <li class="menu__item">Link</li>
    <li class="menu__item">Link</li>
    <li class="menu__item">Link</li>
    <li class="menu__item">Link</li>
    <li class="menu__item">Link</li>
  </ul>
</nav>

<div class="grid-container">
  <div class="item1"></div>
  <div class="item2"></div>
  <div class="item3"></div>
  <div class="item4"></div>
  <div class="item5"></div>
</div>