.container {
  position: absolute;
  height: 100%;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
}

.column1 {
  flex: 25%;
  background-color: rgb(204, 224, 238);
  overflow: visible;
}

.column2 {
  flex: 75%;
  background-color: rgb(245, 245, 220);
}

.row {
  display: flex;
  position: relative;
  height: 100%;
}

.stack {
  position: inherit;
  height: 40px;
  width: 40px;
  background-color: lightsteelblue;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(68, 68, 245);
  margin: 10px;
  z-index: 1;
}

.panel {
  position: inherit;
  height: 22px;
  width: 33px;
  background-color: lightgray;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(129, 129, 145);
  margin: 10px;
  z-index: 2;
}

.corner {
  position: inherit;
  height: 10px;
  width: 12px;
  background-color: lightseagreen;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(69, 119, 119);
  margin: 10px;
  z-index: 3;
}

.well {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100px;
  width: 120px;
  background-color: rgb(214, 180, 214);
  border-style: solid;
  border-width: 4px;
  border-color: rgb(119, 69, 112);
  margin: 10px;
  z-index: 1;
}

.submission-form {
  max-width: 300px;
  margin: 2rem auto;
  border: 2px solid rgb(205, 214, 162);
  padding: 2rem;
}

label {
  display: block;
}

input,
textarea {
  display: inline;
}

#displayPanelContainer {
  height: auto;
  width: 1000px;
  background-color: rgb(122, 160, 122);
  display: flex;
  flex-wrap: wrap;
}

/* Context Menu */

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
}

.context-menu__items {
  list-style-type: none;
}

.context-menu__item {
}

.context-menu__link {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  height: 40px;
  padding: 10px;
  width: 120px;
  margin: 1px;
  background-color: #ecee90;
  border-style: solid;
  border-width: 3px;
  border-radius: 1px;
  border-color: #a07134;
}

.context-menu__link.view:hover {
  background-color: #79ceda;
  border-color: #1f656e;
  color: #ffffff;
}

.context-menu__link.edit:hover {
  background-color: #79ceda;
  border-color: #1f656e;
  color: #ffffff;
}

.context-menu__link.delete:hover {
  background-color: #f56d6d;
  border-color: #cc3737;
  color: #ffffff;
}

.context-menu--active {
  display: block;
}
