.container {
  position: absolute;
  height: 100%;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
}

.column1 {
  flex: 25%;
  background-color: rgb(204, 224, 238);
  overflow: visible;
}

.column2 {
  flex: 75%;
  background-color: rgb(245, 245, 220);
}

.row {
  display: flex;
  position: relative;
  height: 100%;
}

.stack {
  position: inherit;
  height: 40px;
  width: 40px;
  background-color: lightsteelblue;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(68, 68, 245);
  margin: 10px;
  z-index: 1;
}

.created {
  background-color: rgb(199, 235, 72);
  border-color: rgb(126, 158, 52);
}

.contextMenuOpen {
  background-color: rgb(199, 235, 72);
  border-color: rgb(126, 158, 52);
}

#stackIcon.dropActive {
  border: 10px solid blue;
}
#stackIcon.dropHover {
  background-color: yellow;
  color: #000;
}

.panel {
  position: inherit;
  height: 22px;
  width: 33px;
  background-color: #d3d3d3;
  border-style: solid;
  border-width: 2px;
  border-color: #818191;
  margin: 10px;
  z-index: 2;
}

.corner {
  position: inherit;
  height: 10px;
  width: 12px;
  background-color: lightseagreen;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(69, 119, 119);
  margin: 10px;
  z-index: 3;
}

.well {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100px;
  width: 120px;
  background-color: rgb(214, 180, 214);
  border-style: solid;
  border-width: 4px;
  border-color: rgb(119, 69, 112);
  margin: 10px;
  z-index: 1;
}

.submission-form {
  max-width: 300px;
  margin: 2rem auto;
  border: 2px solid rgb(205, 214, 162);
  padding: 2rem;
}

label {
  display: block;
}

input,
textarea {
  display: inline;
  text-transform: uppercase;
}

#displayPanelContainer {
  height: auto;
  width: 1000px;
  background-color: rgb(122, 160, 122);
  display: flex;
  flex-wrap: wrap;
}

/* Context Menu */

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
}

.context-menu__items {
  list-style-type: none;
}

/* .context-menu__item {
} */

.context-menu__link {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  height: 40px;
  padding: 10px;
  width: 120px;
  margin: 1px;
  background-color: #ecee90;
  border-style: solid;
  border-width: 3px;
  border-radius: 1px;
  border-color: #a07134;
}

.context-menu__link.view:hover {
  background-color: #79ceda;
  border-color: #1f656e;
  color: #ffffff;
}

.context-menu__link.edit:hover {
  background-color: #79ceda;
  border-color: #1f656e;
  color: #ffffff;
}

.context-menu__link.delete:hover {
  background-color: #f56d6d;
  border-color: #cc3737;
  color: #ffffff;
}

.context-menu--active {
  display: block;
}

.menu__item {
  display: inline-block;
}

/* Stacks retrieved from the context menu and displayed to the user */

.retrievedStack {
  display: flex inline-block;
  position: relative;
  height: 375px;
  width: 480px;
  background-color: #aaaaaa;
}

.retrievedPanel__slot {
  display: inline-block;
  position: relative;
  left: 50px;
  top: 20px;
  height: 50px;
  width: 300px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #d3d3d3;
  border-style: solid;
  border-width: 2px;
  border-color: #818191;
  text-align: center;
}

/* Control panel for the sector */

.control-panel {
  display: flex inline-block;
  position: relative;
  height: 100px;
  width: 600px;
  background-color: #cccaa7;
  left: 20px;
  top: 487px;
}

.control-panel__button {
  display: inline-block;
  position: relative;
  left: 20px;
  top: 20px;
  height: 60px;
  width: 80px;
  text-transform: uppercase;
  background-color: #cccaa7;
  border-style: solid;
  border-width: 2px;
  border-color: #9b985c;
  text-align: center;
  padding-top: 2px;
}

.hasQueriedPanel {
  background-color: lightseagreen;
  border-color: rgb(69, 119, 119);
}

/* sectorMapView Styling */

.sector__link__badge {
  display: block;
  position: relative;
  background-color: #aaaaaa;
  border-bottom: #ffffff;
  border-top: #aaaaaa;
  border-left: #aaaaaa;
  border-right: #aaaaaa;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  padding-top: 2px;
}

.quadrant1 {
  grid-area: topsection;
}

.quadrant2 {
  grid-area: uppermiddle;
}

.quadrant3 {
  grid-area: lowermiddle;
}

.quadrant4 {
  grid-area: bottomsection;
}

.quadrant5 {
  grid-area: sidesection;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'topsection sidesection'
    'uppermiddle sidesection'
    'lowermiddle sidesection'
    'bottomsection sidesection';
  /* grid-gap: 0.25rem; */
  background-color: #2196f3;
  padding: 10px;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1.4fr 1.4fr 0.5fr 1fr;
  height: 96vh;
  width: 96vw;

  /* justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center; */
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: 30px;
}

/*Quadrant 1*/

#sector__link1 {
  display: inline-block;
  position: relative;
  left: 20px;
  top: 20px;
  height: 60px;
  width: 80px;
  background-color: #2196f3;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  text-align: center;
}
#sector__link2 {
  display: inline-block;
  position: relative;
  left: 20px;
  top: 170px;
  height: 60px;
  width: 220px;
  background-color: #2196f3;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  text-align: center;
}
#sector__link3 {
  display: inline-block;
  position: relative;
  left: 80px;
  top: 170px;
  height: 60px;
  width: 220px;
  background-color: #2196f3;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  text-align: center;
}

/*Quadrant 2*/
#sector__link5,
#sector__link6,
#sector__link7,
#sector__link8,
#sector__link9,
#sector__link10,
#sector__link11,
#sector__link12 {
  display: inline-block;
  position: relative;
  left: 20px;
  top: 20px;
  height: 200px;
  width: 50px;
  margin-left: 15px;
  margin-right: 10px;
  background-color: #2196f3;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  text-align: center;
}

/*Quadrant 3*/
#sector__link14 {
  display: inline-block;
  position: relative;
  left: 20px;
  height: 100px;
  width: 675px;
  background-color: #2196f3;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  text-align: center;
}

/*Quadrant 4*/
#sector__link15 {
  display: inline-block;
  position: relative;
  left: 20px;
  top: 20px;
  height: 120px;
  width: 675px;
  background-color: #2196f3;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  text-align: center;
}

/*Quadrant 5*/
#sector__link4 {
  display: block;
  position: relative;
  left: 20px;
  top: 20px;
  height: 220px;
  width: 80px;
  background-color: #2196f3;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  text-align: center;
}
#sector__link13 {
  display: inline-block;
  position: relative;
  left: 20px;
  top: 220px;
  height: 400px;
  width: 80px;
  background-color: #2196f3;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  text-align: center;
}

/* .sector__link {
} */

/*Navigation Bar*/

/* .nav__bar {
}

.nav__links {
} */

.nav__link {
  display: inline-block;
  position: relative;
  left: 450px;
  top: 600px;
  height: 40px;
  width: 44px;
  background-color: #2196f3;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  text-align: center;
}

.nav__link__badge {
  display: block;
  position: relative;
  background-color: #aaaaaa;
  border-bottom: #ffffff;
  border-top: #aaaaaa;
  border-left: #aaaaaa;
  border-right: #aaaaaa;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  padding-top: 2px;
}
